.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 14px;
}
@media screen and (max-width: 479px) {
  html {
    font-size: 2.9166666667vw;
  }
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
}

body {
  background-color: #fff;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  width: 100vw;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.2857rem;
  padding-bottom: 4.2857rem;
}
.section-hero {
  padding-top: 8.4286rem;
  padding-bottom: 8.4286rem;
}
.section-team {
  background-color: #f5f4fa;
}
.section-footer {
  background-color: #2f303a;
}
.section__title {
  margin-bottom: 2.1429rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    max-width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .section-features {
    padding-bottom: 0;
  }
  .section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section__title {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.container {
  width: 100vw;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.0714rem;
  padding-right: 1.0714rem;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.7143rem;
  line-height: 1.16;
  color: #2196f3;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  color: #000;
}

.footer__logo {
  color: #fff;
}

.menu-btn, .modal__btn-close, .filter-list__button, .hero__btn,
.form__btn,
.modal-form__btn-submit {
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.hero__btn,
.form__btn,
.modal-form__btn-submit {
  font-weight: 700;
  font-size: 1.1429rem;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover,
.form__btn:hover,
.modal-form__btn-submit:hover, .hero__btn:focus,
.form__btn:focus,
.modal-form__btn-submit:focus {
  background-color: #188ce8;
}

.hero__btn,
.form__btn,
.modal-form__btn-submit {
  width: 14.2857rem;
  height: 3.5714rem;
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    width: 216px;
  }
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__btn--icon {
  width: 1.7143rem;
  height: 1.7143rem;
  margin-left: 0.7143rem;
  fill: currentColor;
}

.filter-list__button {
  padding-top: 0.4286rem;
  padding-bottom: 0.4286rem;
  padding-left: 1.5714rem;
  padding-right: 1.5714rem;
  font-weight: 500;
  font-size: 1.1429rem;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover, .filter-list__button:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.1429rem;
  height: 2.1429rem;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  color: #2196f3;
}
.modal__btn-close--icon {
  fill: currentColor;
}

.menu-btn {
  width: 2.8571rem;
  height: 2.8571rem;
  color: #000;
  background-color: #fff;
}
.menu-btn:hover, .menu-btn:focus {
  fill: #2196f3;
}
.menu-btn--icon {
  fill: currentColor;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7143rem;
}
.socials-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.1429rem;
  height: 3.1429rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
.socials-list__icon {
  fill: currentColor;
  width: 1.4286rem;
  height: 1.4286rem;
}

.address {
  font-style: normal;
}

.address-list__link {
  line-height: 1.71;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: #2196f3;
}
.address-list__link--location {
  color: #fff;
}
.address-list__link--mail, .address-list__link--tel {
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: auto;
  padding: 2.8571rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .modal {
    width: 93.75vw;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__btn-close {
  position: absolute;
  right: 0.5714rem;
  top: 0.5714rem;
}

.modal__title {
  margin-bottom: 0.8571rem;
  font-weight: 700;
  font-size: 1.4286rem;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal-form__label {
  display: block;
  font-size: 0.8571rem;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input-thumb {
  position: relative;
  margin-top: 0.2857rem;
  margin-bottom: 0.7143rem;
}

.modal-form__input {
  width: 100%;
  padding-top: 0.7143rem;
  padding-bottom: 0.7143rem;
  padding-left: 3rem;
  font-size: 1.1429rem;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.modal-form__input:hover + .modal-form__input-icon, .modal-form__input:focus + .modal-form__input-icon {
  fill: #2196f3;
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.2857rem;
  height: 1.2857rem;
  margin-left: 0.8571rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input-icon:hover, .modal-form__input-icon:focus {
  fill: #2196f3;
}

.modal-form__input--comment {
  display: block;
  height: 8.5714rem;
  margin-top: 0.2857rem;
  margin-bottom: 1.4286rem;
  padding-top: 0.8571rem;
  padding-left: 1.1429rem;
  resize: none;
  font-size: 1rem;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000;
}
.modal-form__input--comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal-form__input--comment {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal-form__label--checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 2.1429rem;
  padding-left: 0.5714rem;
  font-size: 0.8571rem;
  line-height: 1.16;
  letter-spacing: 0.03em;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal-form__label--checkbox {
    margin-bottom: 31px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__input--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}
.modal-form__input--checkbox:hover + .modal-form__input-checkbox-icon, .modal-form__input--checkbox:focus + .modal-form__input-checkbox-icon {
  border: 2px solid #2196f3;
}
.modal-form__input--checkbox:checked + .modal-form__input-checkbox-icon {
  fill: #fff;
  background-color: #2196f3;
  border-width: 0;
}

.modal-form__input-checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.1429rem;
  height: 1.1429rem;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  fill: transparent;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition-property: border, background-color, border-width;
  transition-property: border, background-color, border-width;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__link-agreement {
  margin-left: 0.3em;
  color: #2196f3;
}

.modal-form__btn-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background/hero-bg-480-400.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-bg-480-400.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background/hero-bg-480-400@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-bg-480-400@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background/hero-bg-480-400@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-bg-480-400@3x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background/hero-bg-768-400.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-bg-768-400.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background/hero-bg-768-400@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-bg-768-400@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background/hero-bg-768-400@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-bg-768-400@3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background/hero-bg-1600-600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-bg-1600-600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background/hero-bg-1600-600@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-bg-1600-600@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background/hero-bg-1600-600@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-bg-1600-600@3x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 1.8571rem;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  margin-top: 2.1429rem;
}

@media screen and (max-width: 767px) {
  .feature-list__item {
    display: block;
    width: 100%;
  }
  .feature-list__item:not(:last-child) {
    margin-bottom: 2.1429rem;
  }
  .feature-list__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .feature-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: calc((100% - 90px) / 4);
  }
}
.feature-list__icon-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8.5714rem;
  background-color: #f5f4fa;
  border-radius: 0.2857rem;
}
.feature-list__icon {
  width: 5rem;
  height: 5rem;
}
.feature-list__title {
  margin-top: 2.1429rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
.feature-list__text {
  margin-top: 0.7143rem;
  font-weight: 400;
  line-height: 1.71;
  text-align: start;
}

.section-activity {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-activity {
    display: block;
  }
}
.section-activity .activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.section-activity .activity-list__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.section-activity .activity-list__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-list__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__meta {
  padding-top: 2.1429rem;
  padding-bottom: 1.7143rem;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team-list__item {
    display: block;
    width: 100%;
  }
  .team-list__item:not(:last-child) {
    margin-bottom: 2.1429rem;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
  .team-list__meta {
    padding-bottom: 30px;
  }
}
.team-list__member {
  font-weight: 500;
  font-size: 1.1429rem;
  line-height: 1.19;
  color: #212121;
}
.team-list__member-position {
  margin-top: 10px;
  margin-top: 0.7143rem;
  font-weight: 400;
  font-size: 1.1429rem;
  line-height: 1.19;
}
.team-list .socials-list {
  margin-top: 1.1429rem;
}
.team-list .socials-list__link {
  color: #afb1b8;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list .socials-list__link:hover, .team-list .socials-list__link:focus {
  color: #fff;
  background-color: #2196f3;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.1429rem;
}
.customers-list__item {
  display: block;
  width: calc((100% - 2.1429rem) / 2);
}
@media screen and (min-width: 768px) {
  .customers-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__item {
    width: calc((100% - 150px) / 6);
  }
}
.customers-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.5714rem;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__icon {
  width: 7.5714rem;
  height: 4.2857rem;
  fill: currentColor;
}
.customers-list__link:hover, .customers-list__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.5714rem;
     -moz-column-gap: 0.5714rem;
          column-gap: 0.5714rem;
  row-gap: 1.0714rem;
  margin-bottom: 2.8571rem;
}
@media screen and (max-width: 767px) {
  .filter-list {
    width: 70vw;
    max-width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.project-list__item {
  width: 100%;
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  .project-list__item:not(:last-child) {
    margin-bottom: 2.1429rem;
  }
}
@media screen and (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .project-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    max-width: 370px;
  }
}

.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.project__image {
  position: relative;
  overflow: hidden;
}
.project__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  padding-right: 1.7143rem;
  padding-left: 1.7143rem;
  font-size: 1.2857rem;
  line-height: 1.56;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .project__overlay {
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .project__overlay {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
.project__card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1.4286rem;
  padding-bottom: 1.3571rem;
  padding-right: 1.6429rem;
  padding-left: 1.6429rem;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.project__title {
  font-weight: 700;
  font-size: 1.2857rem;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project__text {
  margin-top: 0.2857rem;
  font-weight: 400;
  font-size: 1.1429rem;
  line-height: 1.88;
  color: #757575;
}

.footer {
  text-align: center;
}
.footer .address {
  margin-top: 1.4286rem;
}
.footer .address-list__item:not(:first-child) {
  margin-top: 0.5714rem;
}
.footer .join-box, .footer .form-subscribe {
  margin-top: 4.2857rem;
}
.footer .join-box__title, .footer .form-subscribe__title {
  margin-bottom: 1.4286rem;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}
.footer .form__input {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.0714rem;
  font-size: 1.1429rem;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer .form__btn {
  margin-top: 1.4286rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer .address {
    width: 232px;
  }
  .footer .join-box {
    margin-top: 0;
    margin-left: 165px;
  }
  .footer .form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
  .footer__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer .address {
    width: 231px;
  }
  .footer .address-list__item:not(:first-child) {
    margin-top: 9px;
  }
  .footer .join-box {
    margin-left: 70px;
  }
  .footer .form-subscribe {
    margin-top: 0;
    margin-left: auto;
  }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .form__input {
    width: 358px;
  }
  .footer .form__btn {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer__socials-list {
  margin-left: auto;
  margin-right: auto;
}
.footer__socials-list .socials-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials-list .socials-list__link:hover, .footer__socials-list .socials-list__link:focus {
  background-color: #2196f3;
}/*# sourceMappingURL=main.css.map */