.customers-list {
  display: flex;
  flex-wrap: wrap;
  // gap: 30px;
  gap: 2.1429rem;

  &__item {
    display: block;
    width: calc((100% - 2.1429rem) / 2);

    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 150px) / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    // height: 92px;
    height: 6.5714rem;

    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    @include customTransition(color, border);
  }

  &__icon {
    // width: 106px;
    // height: 60px;
    width: 7.5714rem;
    height: 4.2857rem;
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    color: $color-site-accent;
    border: 1px solid $color-site-accent;
  }
}
