.feature-list {
  @media screen and (max-width: 767px) {
    &__item {
      display: block;
      width: 100%;
    }

    &__item:not(:last-child) {
      margin-bottom: 2.1429rem;
    }

    &__title {
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
      width: calc((100% - 30px) / 2);
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      width: calc((100% - 90px) / 4);
    }
  }

  &__icon-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 8.5714rem;
    background-color: $color-bg-secondary;
    border-radius: 0.2857rem;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
  }

  &__title {
    margin-top: 2.1429rem;

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.14;
    text-transform: uppercase;
    color: $color-text-title;
  }

  &__text {
    margin-top: 0.7143rem;

    font-weight: 400;
    line-height: 1.71;
    text-align: start;
  }
}
