.container {
  width: 100vw;
  max-width: 480px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 1.0714rem;
  padding-right: 1.0714rem;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
