.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;

  // gap: 10px;
  gap: 0.7143rem;

  &__link {
    display: flex;
    // width: 44px;
    // height: 44px;
    width: 3.1429rem;
    height: 3.1429rem;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
  }

  &__icon {
    fill: currentColor;

    width: 1.4286rem;
    height: 1.4286rem;
  }
}
